[user]
    name = mauroseb
    email = mauro.oddi@gmail.com

[core]
    editor = vim
    excludesfile = ~/.gitignore

[color]
    ui = auto
    status = auto
    branch = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[diff]
    tool = vimdiff
    compactionHeuristic = true

[alias]
    a = add
    aa = add --all
    b = blame -w
    c = commit
    ca = commit -a
    cm = commit -m
    br = branch
    f = fetch
    d = diff
    s = status
    sh = show
    l = log -i --pretty='format:%Cred %h %Cgreen (%an <%ae>) - %Creset %ci'
    shpretty = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    #unstage = reset HEAD --
    ll = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%aE>%Creset'
    graph = "!f() { git log --oneline --abbrev-commit --graph --decorate; }; f"

[init]
  defaultBranch = main

[push]
    default = matching

[submodule]
  fetchJobs = "7"

[branch]
    autosetupbase = always
    autosetuprebase = always

[merge]
    tool = vimdiff

[gitreview]
	username = mauroseb_g

[commit]
        template = ~/.gitmessage
